server {

    listen 80;
    listen [::]:80;

    # For https
    # listen 443 ssl;
    # listen [::]:443 ssl ipv6only=on;
    # ssl_certificate /etc/nginx/ssl/default.crt;
    # ssl_certificate_key /etc/nginx/ssl/default.key;

    server_name vue.test;
    root /var/www/vue/dist;
    index index.html index.htm;

    location / {
        try_files $uri $uri/ @router;
        index index.html index.htm;
    }

    location @router {
        rewrite ^.*$ /index.html last;
    }

    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt/;
        log_not_found off;
    }

    error_log /var/log/nginx/vue_error.log;
    access_log /var/log/nginx/vue_access.log;
}
